.menu-container{
	border: 0px solid red;
	width: 100px;
	height: calc(100vh - 80px);
	padding: 10px 0px 0 0px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;

	position: fixed;
}
.menu-items{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 50px;
}
.menu-item{
	border: 0px solid red;
	padding: 10px;
}
.menu-item.active span{
	color: white;
}