.title-bar{
	color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}
.title-bar .hamburger-menu-icon{
	transition: 0.5s all;
}