.date-picker {
	color: white;
	border: 0px solid red;
	width: 100%;
}

.date-picker input {
	outline: none;
	width: fit-content;
	min-width: 20px;
	margin-top: 0px !important;
	margin: none !important;
	padding: 0px 2px;
	text-indent: 1px;
}

.date-picker input:focus-visible {
	outline: 0px;
	border: 0px;
}

.date-picker .react-date-picker__wrapper {
	outline: 1px solid rgb(255, 255, 255, 0.2);
	border: 0px;
	border-radius: 15px;
	padding: 5px 10px;
}

.date-picker .react-date-picker__wrapper:focus {
	outline: 1px solid rgba(255, 255, 255, 0.501);
}

.date-picker .date-picker-calender {
	background-color: var(--bg--light);
	backdrop-filter: blur(50px);
	color: white;
	border-radius: 15px;
	overflow: hidden;
}

.date-picker .date-picker-calender button {
	color: white !important;
}

.date-picker .date-picker-calender button:disabled {
	background-color: var(--bg);
	color: rgba(130, 130, 130, 0.714) !important;
}

.date-picker .date-picker-calender button:hover {
	background-color: var(--bg);
}

.date-picker .date-picker-calender .tiles {
	color: white;
}

.date-picker .date-picker-calender .tiles:hover {
	background-color: var(--bg);
}

.date-picker .date-picker-calender .react-calendar__month-view__days__day--weekend.tiles {
	color: white;
	color: var(--pink) !important;
}

.date-picker .date-picker-calender .react-calendar__month-view__days__day--neighboringMonth.tiles {
	color: rgb(149, 149, 149) !important;
}