:root {
	--bg: rgb(31, 32, 40);
}
.material-icons-two-tone {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(212deg) brightness(103%) contrast(101%);
}
.material-icons-two-tone.active {
	filter: var(--accent--filter);
}
.material-icons-two-tone.dimmed {
	filter: invert(63%) sepia(3%) saturate(0%) hue-rotate(270deg) brightness(95%) contrast(90%);
}
.material-icons-two-tone.dimmed:hover {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(212deg) brightness(103%) contrast(101%);
}

.main-container{
	margin-top: 80px;
}
